.button--section-one-item {
  background-image: url(../icon/button.svg);
  background-color: #fff;
}
.swiper-slide > button {
  margin-left: auto;
  margin-right: 1rem;
}
/* Стили для кнопок */
.button {
  width: 40px;
  height: 40px;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.expand-button {
  display: none;
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.expand-button::before {
  content: "url(/icon/icon-open.svg)";
}
